*,
*::before
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


 :root{

   --color-button: #219F95;
   --color-text:#333;
   --color-background: #FFFFFF;
   --color--ticket: #234894;
   --color--id: #696969;
    --color-footer: #AFCEDD;
   --color--wihte:# fffff
} 




html{
    font-size: 62.5%;
}
    body{
        color : var(--color-body) ;


    }
.container{
    margin: 4rem 3rem;
    width: 100%;
}


    
.request{

    font-size: 2.2rem;
    font-weight: 900;
    line-height: 33px;
    text-align: right;
   margin: 3rem;
   padding: 2rem;
}
.card{
    padding: 2rem;
    direction: rtl;
    margin: 2rem;
    background-color: var(--color-background);
}
.block-card {
    display: grid;
    gap: 10px; 
justify-content: center; /* Centers grid items horizontally */
grid-template-columns: repeat(auto-fit, minmax(350px, 320px)); /* Responsive columns */
margin: 3rem 3rem;
}

.plan_intrudoctin{
    display: flex;
    justify-content: space-between;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  }



.plan_name{
    display:flex;
    direction: ltr;
  

}

.card .plan_name p{
    padding-right: 1rem; 
    color: var();
    font-size: 1.6rem;
    font-weight: 600;
   line-height: 24px;
   text-align: right;
}
 
.plan_img{
    padding-right: 1rem;
}
    .card p {
        color: #666;
        margin: 5px 0;
    }
    .card .ticket--id {
         font-size: 1.8rem;
        font-weight: 900;
        line-height: 27px;
        text-align: right;
        color: #1E1E1E;
        margin-top: 2rem;
        
    }
   .ticket_id{
  color: var(--color--id);
  font-size: 1.2rem;

   }
    .card .date-ticket {
        display: flex;
        justify-content: space-between;
        color: var(--color--id);
        font-size:1.2rem;
       
    }
    

    .card button {
      color:var(--color--wihte);
        width: 150px;
        height: 64px;
        top: 111px;
        left: 19px;
        padding: 20px 15px 20px 15px;
        border-radius: 8px;
        border: none;
     background: var(--color-button);
        cursor: pointer;
font-size: 1.6rem;
font-weight: 500;
line-height: 24px;
text-align: center;
    }
    .card button:hover {
        background-color: #008fb3;
    }
 
    .profile--img {
        display: flex;
        justify-content: space-between;
    
        margin: 2rem auto;
    }
    
    
    .profile_img .profile-img{
        width: 40px;
        height: 40px;
       padding-left:1rem
    }
    .profile_img{
        display:flex;
     
    }
   

    .profile__name{
    display:flex;
    direction: ltr;
    
    }
    .profile--img  .profile__name{
        font-size: 1.6rem;
        margin: 2rem auto;
   


    }













    @media screen and (min-width: 1024px) {
        body {
            font-size: 1.8rem;
        }
        .profile--img  .profile__name{
        padding-right: 1rem;
        }

    }
 

 @media screen and (min-width: 968px) {
    .block-card {
        grid-template-columns: repeat(3, 1fr); 
    }
    .card button{
        width:auto;
        height: auto;

    }
    
    .request{
        font-size: 3rem;
    }

}
 

@media  screen and (max-width: 768px) {
    .profile--img { flex-direction: column;
         align-items: center; }

    
        
}

